/*  The Head Obamid's theme for discord, only applies to dark mode, to adapt for light theme, change .theme-dark to .theme-light */

/*  However this is not how things are going to be done forever
	I plan to make things much more meticulous in their application, so that areas are colored accordingly and more specific
	so remember to go searching through the css for all the different areas so you can get something even nicer looking, and make it comply with the horizon theme
	but feel free to apply other changes, like rounding bounding boxes and stuff where certain things don't look good, that's all for now */


/* Variable colors  */
.theme-dark {
	/* General backgroundry */
	--background-primary: #1c1e26;
  	--background-secondary: #1c1e26;
  	--background-tertiary: #1c1e26;
  	--background-secondary-alt: #1c1e26;
	--background-floating: #232530;

	/* Text input background */
  	--channeltextarea-background: #22232D;


	/* Muted channels and people I assume */
  	--interactive-muted: #444444;
	/* --interactive-active: #E95678; Getting away from the monolithic stuff*/

	/* Text */
  	--text-normal: #c1cbf5;
  	--header-primary: #a9b4fe;
  	--scrollbar-auto-thumb: #2a2e38;
	--scrollbar-auto-track: #24283b;
	--header-secondary: #F09483;
	--background-accent: #F09483;
	--brand-experiment: #B877DB;

	/* Channel list */
	--unread-channel-color: #E95678;	
	--selected-channel-color: hsl(346, 67%, 65%);
} 


/* Fonts, this one is for generally everything */
* {
	font-family: "Lato";
}

/* This one is for code blocks and stuff */
code {
	font-family: "Fira Mono", monospace !important;
}

/* Autocomplete menu */
.theme-dark .autocomplete-3NRXG8 {
	background-color: var(--background-primary)
}

/* The color of the username with no nickname when a user is clicked on */
.headerTagUsernameNoNickname-1TjuLc, .h5-2RwDNl {
	color: var(--header-primary)
}

/* The color of the users tag with no nickname when clicked on */
.headerTagDiscriminatorNoNickname-dfcvHa, .discriminator-2m-MqL, .colorHeaderSecondary-g5teka, .description-30xx7u {
	color: var(--text-normal)
}

/* The color of message backgrounds when hovered over, 
   In a darker than default theme this should be lighter, vice versa, and less so for light theme */
.theme-dark .messageListItem-ZZ7v6g:hover {
	background-color: #22232d;
}

/* Friends list column, not to be confused with the column of open direct messages */
.theme-dark .peopleColumn-1wMU14 {
		background-color: #1c1e26;
}

/* New unread channels */
.modeUnread-3Cxepe .name-28HaxV, .modeUnread-3Cxepe:hover .name-28HaxV {
	color: var(--unread-channel-color);
}

.item-2LIpTv {
	background-color: var(--unread-channel-color);
}

/* Unread channel indicator */
.unread-36eUEm {
	background-color: var(--unread-channel-color);
}

/* Selected channel */
.modeSelected-3DmyhH .name-28HaxV, .modeSelected-3DmyhH:hover .name-28HaxV {
	color: var(--selected-channel-color);
}

/* The text input box for talking */
.theme-dark .scrollableContainer-15eg7h {
	border-radius: 24px;
	
}

/* Any filled blurple button in dark mode */
.theme-dark .lookFilled-yCfaCM.colorBrand-I6CyqQ {
	color: #000;
	font-weight: 600;
}

/* Any filled grey button in dark mode */
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B {
	color: #fff;
	background-color: #2E303E;
	font-weight: 600;
}

/* Any red hollow/outlined button in dark mode */
.theme-dark .lookOutlined-3yKVGo.colorRed-rQXKgM {
	color: #E95678;
	border-color: #E95678;
	font-weight: 600;
}

/* Any filled red button in dark mode*/
.theme-dark .lookFilled-yCfaCM.colorRed-rQXKgM {
	background-color: #E95678;
	font-weight: 600;
}


/* Force color */

.theme-dark .container-1D34oG {
  background-color: #1C1E26;
}

.categoryHeader-O1zU94, .theme-dark .autocomplete-1vrmpx {
  background-color: #1C1E26;
}

.theme-dark .selected-1Tbx07 {
	background-color: #3b4252;
}


/* Hide Inbox Button & Support Button */

/*div[aria-label="Inbox"] {
  display: none
}*/



a[href="https://support.discord.com"] {
  display: none
}



/* Round Searchbar */

div[aria-label="Search"] {

	border-radius: 8px;

}



/* Change Color Of Placeholder On Input Bar */ 

.placeholder-37qJjk.fontSize16Padding-3Wk7zP {

  color: transparent

}




/* Q's Role Color */

.username-1A8OIy.clickable-1bVtEA[style="color: rgb(153, 45, 34);"] {

  color: #bf616a !important

}



/* remove the annoying warning */

/* <div class="channelNotice-1-XFjC guildMFAWarning-3GEzs8">
<div class="message-3SOT5P">
<div>
<p>This server requires members with moderation powers to have Two-Factor Authentication.</p>
<p>You cannot take any moderation actions until you enable it.</p>
</div>
<button type="button" class="btn-11C5_u button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeMedium-1AC_Sl grow-q77ONN">
<div class="contents-18-Yxp">Resolve</div>
</button>
</div>
</div> */



.channelNotice-1-XFjC.guildMFAWarning-3GEzs8 {

  display: none;

}
