/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@import "mocha.css";

* {
    color: #e5e7eb;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: "Fira Sans";
    font-size: 14;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom:0px;
   }

window#waybar {
    /* background:#2e3440; */
    background: @base;
}

#workspaces button {
    padding: 2px 0px;
    border-bottom: 2px;
    color: #eceff4;
    border-color: #d8dee9;
    border-style: solid;
    margin-top:0px;
}

#workspaces button.focused {
    border-color: #81a1c1;
}

#mode {
    color: #ebcb8b;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman {
    padding: 0 3px;
    border-bottom: 2px;
    border-style: solid;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#idle_inhibitor {
	color: @rosewater;
}
 
#clock {
	color: @lavender;
}

#backlight {
    color: #ebcb8b;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @mauve;
}

#memory {
    color: @lavender;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color: @lavender;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: @mauve;
}

#pulseaudio.muted {
    color: #3b4252;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
   color: #ebcb8b;
}

#tray {
}

#custom-launcher,#custom-power{
    border-style: hidden;
    margin-top:2px;    
}

#window{
    border-style: hidden;
    margin-top:1px;  
}    
#mode{
    margin-bottom:3px;
}

#custom-keyboard-layout{
   color:#d08770;
}   
