/*
scheme: "Horizon"
author: "me"
*/

#entry {
border-radius: 0px;
/* padding: 5px 2px 5px 2px; */
/* margin: 0px 4px 0px 4px; */
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
color: #F6F6F6;
background-color: #2E303E;
padding: 6px;
}

#text:selected {
color: #F6F6F6;
}

#window {
animation-name: fadeIn;
animation-duration: 0.2s;
background-color: transparent;
font-family: Ubuntu Mono;
/* font-size:14; */
}

#input {
border: none;
background-color: #16161C;
border-radius: 0px;
margin: 4px 4px 8px 4px;
/* padding: 8px; */
}

#inner-box {
color: #2E303E;
border-radius: 0px;
/* margin-right: 180px; */
}

#outer-box {
background-color: #1c1e26; 
border-radius: 0px;
border: 1px solid #848484; 
padding: 10px;
margin: 25px; 
}

#scroll {
}

#text {
color: #D5D8DA;
background-color: transparent;
} 

#img {
  background-color: transparent;
}
